body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.timer {
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
    color: #333;
}

.buttons {
    margin: 20px 0;
}


.buttons button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
}
        
.buttons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
        
.break {
    color: #FF6347;
}
        
.work {
    color: #32CD32;
}